<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <alias alias="ILogger" type="MyApp.ILogger, MyApp" />
        <namespace name="MyApp.Implementations" />
        <assembly name="MyApp" />
        <container>
            <register type="NML.Core.Interfaces.ISearchEngine, NML.Core" 
                      mapTo="NML.Search.Google.GoogleSearch, NML.Search.Google" name="google" />
           
            <register type="NML.Core.Interfaces.ISearchEngine, NML.Core" 
                      mapTo="NML.Search.Calc.Calc, NML.Search.Calc" name="calc" />
           
            <!--<register type="NML.Core.Interfaces.ISearchEngine, NML.Core" 
                      mapTo="NML.Search.Wikipedia.WikiSearch, NML.Search.Wikipedia" name="wiki" />-->
            
            <register type="NML.Core.Interfaces.ISearchEngine, NML.Core" 
                      mapTo="NML.Search.Facebook.FacebookSearch, NML.Search.Facebook" name="face" />
        </container>
    </unity>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
